@page "{username}"
@model ChatApp.Client.Pages.ChatModel
@{
    ViewData["Title"] = "Chat";
}

<div class="chat-container">
    <button id="toggleThemeButton">
        <i class="fas fa-sun"></i>
    </button>
    <div class="messages" id="messagesList"></div>
    <div class="message-input-container">
        <input type="text" id="messageInput" placeholder="Type a message..." />
        <button id="sendButton">Send</button>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@latest/dist/browser/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script>
        const username = "@Model.Username";

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:5000/chathub",
                {
                    withCredentials: true
                }).build();

        connection.on("ReceiveMessage", function (chatMessage) {
            console.log('Received message:', chatMessage);

            const msg = document.createElement('div');
            msg.classList.add('message');

            if (chatMessage.user === username) {
                msg.classList.add('own-message');
            }

            const time = new Date(chatMessage.timestamp);
            const formattedTime = time.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });

            msg.innerHTML = `<span class="timestamp">${formattedTime}</span> <strong>${chatMessage.user}:</strong> ${chatMessage.message}`;
            document.getElementById('messagesList').appendChild(msg);

            document.getElementById('messagesList').scrollTop = document.getElementById('messagesList').scrollHeight;
        });

        document.getElementById('sendButton').disabled = true;

        connection.start()
            .then(function () {
                console.log('Connected to SignalR hub.');
                document.getElementById('sendButton').disabled = false;
            })
            .catch(function (err) {
                return console.error('SignalR Connection Error:', err.toString());
            });

        function sendMessage() {
            const messageInput = document.getElementById('messageInput');
            const message = messageInput.value;
            if (message && username) {
                const chatMessage = {
                    user: username,
                    message: message,
                    timestamp: new Date()
                };
                connection.invoke('SendMessage', chatMessage)
                    .then(() => console.log('Message sent:', chatMessage))
                    .catch(function (err) {
                        return console.error('Error sending message:', err.toString());
                    });
                messageInput.value = '';
                messageInput.focus();
            } else {
                alert('You must enter a message.');
            }
        }

        document.getElementById('sendButton').addEventListener('click', function () {
            sendMessage();
        });

        document.getElementById('messageInput').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                sendMessage();
            }
        });

        // Dark-/Light-mode
        const toggleButton = document.getElementById('toggleThemeButton');
        const body = document.body;
        body.classList.add('light-mode');

        toggleButton.innerHTML = '<i class="fas fa-sun"></i>';

        toggleButton.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
            body.classList.toggle('light-mode');

            if (body.classList.contains('dark-mode')) {
                toggleButton.innerHTML = '<i class="fas fa-moon"></i>';
            } 
            else {
                toggleButton.innerHTML = '<i class="fas fa-sun"></i>';
            }
        });
    </script>
}
