# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.userprefs

# Build Folders
bin/
obj/

# Visual Studio Code
.vscode/

# Other
*.log

# Certificate files
*.pfx
*.p12
*.cer

# User-specific configuration
appsettings.Development.json